.burgerMenuIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 70px;
    top: 20px;
}

.header {
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
    position: absolute;
    width: 100%;
    background: #fff;
    color: #000;
    height: 60px;
    z-index: 12;
}

.header h1 {
    display: flex;
    justify-content: end;
    margin-right: 25px;
    color: #58ACFF;
}